<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="avida.ican">

    <uses-sdk tools:overrideLibrary="me.aflak.libraries" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.Read_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.checkPermission.INTERNET" />
    <uses-permission android:name="android.checkPermission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.checkPermission.READ_EXTERNAL_STORAGE" /> <!-- ______________________________________________________________________________________ -->
    <uses-permission android:name="android.checkPermission.RECORD_AUDIO" />
    <uses-permission android:name="android.checkPermission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.checkPermission.WAKE_LOCK" />

    <application
        android:name=".Ican.App"
        android:allowBackup="true"
        android:appComponentFactory="androidx"
        android:fullBackupContent="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning,HardcodedText,InnerclassSeparator,UnusedAttribute"
        tools:replace="theme, allowBackup,android:appComponentFactory">


        <receiver
            android:name=".Farzin.FarzinBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExtraText">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Farzin.FarzinMessageNotificationReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExtraText">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Farzin.FarzinCartableNotificationReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExtraText">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <!--
              <service
              android:name=".Ican.View.Custom.NetWorkCheckingService"
              android:enabled="true" />
        -->
        <service
            android:name=".Farzin.Presenter.Service.CheckServerAviableService"
            android:enabled="true" />
        <!--
  <service
            android:name=".Farzin.Presenter.Service.CheckServerAviableService"
            android:enabled="true" />
        -->
        <service
            android:name=".Farzin.Presenter.Service.Message.SendMessageService"
            android:enabled="true" />
        <service
            android:name=".Farzin.Presenter.Service.Message.GetSentMessageService"
            android:enabled="true" />
        <service
            android:name=".Farzin.Presenter.Service.Message.GetRecieveMessageService"
            android:enabled="true" />
        <service
            android:name=".Farzin.Presenter.Service.Cartable.GetCartableDocumentService"
            android:enabled="true" />
        <service
            android:name=".Farzin.Presenter.Service.Cartable.CartableDocumentTaeedQueueService"
            android:enabled="true" />
        <service
            android:name=".Farzin.Presenter.Service.Cartable.CartableDocumentAppendQueueService"
            android:enabled="true" />
        <service
            android:name=".Farzin.Presenter.Service.Cartable.OpticalPenQueueService"
            android:enabled="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="avida.ican.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".Ican.View.ActivitySplash">

        </activity>
        <activity
            android:name=".Farzin.View.FarzinActivityLogin"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Ican.View.ActivityMain"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Farzin.View.FarzinActivityMain"
            android:label="@string/title_activity_farzin_main"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Farzin.View.ActivityDocumentSetting"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Farzin.View.ActivitySetting"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Farzin.View.FarzinActivityWriteMessage"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Farzin.View.FarzinActivityDetailMessage"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Farzin.View.FarzinActivityCartableDocument"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Farzin.View.FarzinActivityCartableDocumentDetail"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Farzin.View.FarzinNotificationManager" />
        <activity android:name=".Ican.View.ActivityImageViewer" />
    </application>

</manifest>